#main{
     background: linear-gradient(45deg,#bfa89d,#9db5bf);
    text-align: center;
}

#title{
    color:black;
    text-align: center;
    font-family:'Cardo',serif;
    font-size:150%;
    line-height: 70%;
    opacity: inherit;
    background: linear-gradient(45deg,#bfa89d,#9db5bf);
    width: 100%;
    background-color: transparent;
}

#img-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    color: #a880d9;
    background: white;
}

#image{
    max-width:100%;
    height: auto;
    padding-top: 5em;
}

#img-caption{
    padding-bottom: 2em;
    font-size:150%;
    font-family: 'Cardo';
}

#tribute-info{
    display: flex;
    flex-direction: column;
    font-size: 150%;
    justify-content: center;
}
ul{
    max-width: 550px;
  margin:0 auto 0 auto;
  text-align: left;
  line-height: 1.6;
}

li{
    margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}